
/* footer styling */
.site-footer {
	background-color: $color__black;
	float: left;
	font-family: $font__main;
	width: 100%;

	.footer h4 {
		font-size: 32px;
	}
	.footer h5 {
		font-size: 20px;
	}
	.footer .container {
		max-width: 1260px;
		margin: 0 auto;
	}
	.footer {
		background: #222;
		color: #999;
		padding-bottom: 40px;
		text-align: center;
	}
	.footer ul {
		margin: 0;
		padding-left: 0;
		list-style-type: none;
	}
	.footer ul li a {
		color: #999;
	}
	.footer .newsletter {
		padding-bottom: 20px;
	}
	.footer .newsletter img {
		width: 150px;
	}
	.footer .newsletter h4{
		line-height: 50px;
	}
	.footer .newsletter-cta-description {
		padding: 20px 0;
			font-weight: bold;
	}
	.footer .newsletter form {
		display: flex;
	}
	.footer .newsletter form input {
		font-size: 20px;
		padding: 10px;
		width: 70%;
	}
	.footer .newsletter form button {
		background-color: #ffc10e;
		border: 0;
		color: #000;
		font-size: 17px;
		text-transform: uppercase;
		width: 30%;
	}
	.footer .footer-logo {
		background-image: url("images/cpt-footer-logo.png");
		background-size: 100% 100%;
		display: block;
		height: 100px;
		margin-bottom: 40px;
		width: 100px;
	}
	.footer .footer-logo-social li {
		display: inline-block;
		padding: 0 10px;
	}
	.footer .site-links ul {
		columns: 2;
		-webkit-columns: 2;
		-moz-columns: 2;
		margin-bottom: 10px;
		margin-top: 0;
		padding-left: 0;
	}
	.footer .site-links ul li {
		display: inline-block;
		font-size: 16px;
		list-style-type: none;
		padding: 10px;

		a {
			text-decoration: none;
			font-family: $font__main;

			&:hover {
				text-decoration: underline;
			}
		}
	}
	.footer .footer-brand-links {
		font-size: 14px;
		margin: 20px 0;
	}
	.footer .footer-brand-links span {
		display: inline;
		padding-right: 6px;
		font-size: 14px;
		font-weight: 600;
		text-transform: uppercase;
	}

	.footer .footer-brand-links ul{
		display: inline;
	}

	.footer .footer-brand-links ul li {
		display: inline-block;
		font-size: 12px;
		padding: 5px;
	}
	.footer .footer-brand-links ul li a {
		color: #ffc10e;
		font-weight: 600;
		text-decoration: none;
	}
	.footer .footer-brand-links li:not(:last-child):after {
		border-right: 1px solid #ffc10e;
		content: "";
		padding-left: 10px;
	}
	.footer .global-links li {
		display: inline-block;
		font-size: 12px;
		padding: 5px;

		a {
			text-decoration: none;

			&:hover {
				text-decoration: underline;
			}
		}
	}

	.footer .global-links li.privacy-policy {
		a {
			color: #ee2128;
		}
	}

	.footer .global-links li:not(:last-child):after {
		border-right: 1px solid #999;
		content: "";
		padding-left: 10px;
	}
	.footer .copyright {
		font-size:12px;
	}
	.footer .border-right {
		border-right: 8px solid hsla(80,2%,61%,.2);
	}
	.footer .newsletter-desktop {
		padding-top: 50px;
		text-align: center;
	}

	/*ipad + screens */
	@media screen and (min-width:768px) {
		.footer .desktop-hide {
			display : none;
		}
		
		.footer {
			padding-top: 40px;
			text-align: left;
		}

		.footer .newsletter h4 {
			margin-top: 0;
		}

		.footer .newsletter form button {
			width: 35%;
		}
		
		.footer .footer-left-top {
			padding-bottom: 20px;
		}
	}

	@media screen and (min-width:992px) {
		.footer .newsletter {
			padding: 0 35px;
		}

	}
}

