/* footer styling */
.pure-g {
	letter-spacing: normal !important;
}
.footer h4 {
	font-size: 32px;
}
.footer h5 {
	font-size: 20px;
}
.footer .container {
	max-width: 1260px;
	margin: 0 auto;
}
.footer {
	background: #222;
	color: #999;
	padding-bottom: 40px;
	text-align: center;
}
.footer ul {
	padding-left: 0;
	list-style-type: none;
	margin-left: 0;
}
.footer ul li a{
	color: #999;
}
.footer .newsletter {
	padding: 0 15px 20px;
}
.footer .newsletter img {
	width : 150px;
}
.footer .newsletter h4{
	line-height: 50px;
}
.footer .newsletter-cta-description {
	padding: 20px 0;
	font-weight: bold;
}
.footer .newsletter form {
	display: flex;
}
.footer .newsletter form input {
	font-size: 20px;
	padding: 10px;
	width: 70%;
}
.footer .newsletter form button {
	background-color: #ffc10e;
	border: 0;
	color: #000;
	font-size: 17px;
	text-transform: uppercase;
	width: 30%;
}
.footer-logo {
	background-image: url("images/cpt-footer-logo.png");
	background-size: 100% 100%;
	display: block;
	height: 100px;
	margin-bottom: 40px;
	width: 100px;
}
#menu-footer-social-links li{
	display: inline-block;
	padding: 0 10px;
}
.footer .site-links ul{
	columns: 2;
	-webkit-columns: 2;
	-moz-columns: 2;
	margin-bottom: 10px;
	margin-top: 0;
	padding-left: 0;
}
.footer .site-links ul li {
	display: inline-block;
	font-size: 18px;
	list-style-type: none;
	padding: 10px
}
.footer-brand-links {
	margin: 20px 0;
}
.footer-brand-links p {
	font-size: 14px;
	font-weight: 600;
	text-transform: uppercase;
}
.footer-brand-links ul li{
	display: inline-block;
	font-size: 12px;
	padding: 5px;
}
.footer-brand-links ul li a{
	color: #ffc10e;
}
.footer-brand-links li:not(:last-child):after {
	border-right: 1px solid #ffc10e;
	content: "";
	padding-left: 10px;
}
.footer #menu-footer-global-links li {
	display: inline-block;
	font-size: 12px;
	padding: 5px;
}
.footer #menu-footer-global-links li:not(:last-child):after {
	border-right: 1px solid #999;
	content: "";
	padding-left: 10px;
}
.footer .copyright {
	font-size:12px;
}

.footer .newsletter-desktop {
	padding-top: 50px;
	text-align: center;
}

/*ipad + screens */
@media screen and (min-width:568px) {
	.footer .container {
		padding: 20px;
	}

	.footer .desktop-hide-footer {
		display : none !important;
	}

	.footer {
		padding-top: 40px;
		text-align: left;
	}

	.footer .newsletter h4 {
		margin-top: 0;
	}

	.footer .newsletter form button {
		width: 35%;
	}

	.footer-left-top {
		padding-bottom: 20px;
	}

	.footer .border-right {
		border-right: 8px solid hsla(80,2%,61%,.2);
	}
	.footer .newsletter {
		padding: 0 35px;
	}
}

@media screen and (max-width:567px) {
	.footer .mobile-hide-footer {
		display : none !important;
	}

	.footer .site-links {
		border-top: 8px solid hsla(80,2%,61%,.2);
		border-bottom: 8px solid hsla(80,2%,61%,.2);
		padding: 30px 20px;
	}
}

@media screen and (min-width:568px) and (max-width:767px) {
	.footer .newsletter-desktop img {
		max-width : 200px;
	}
}

@media screen and (max-width:1023px) {
	.footer .ipad-hide {
		display: none;
	}
}