.home {
	section {
		@include site-center;
	}

	section:not(.featured) {

		> div {
			display: flex;
			flex-basis: calc(100% - 300px);
			flex-wrap: wrap;
			max-width: calc(100% - 300px);
		}

		> aside {
			display: inline-block;
			width: 300px;
		}

		article {
			box-shadow: 0 2px 7px 0 hsla(0,0%,57%,.35);
			margin: 10px;
			width: calc(30% - 20px);

			h2 {
				padding: 10px;
				word-wrap: break-word;
				a {
					color: $color__black;

					font: {
						family: $font__h1;
						size: 24px;
						weight: 600;
					};

					&:hover {
						text-decoration: underline;
					}
				}
			}
		}
	}

	article {
		background: $color__white;
		box-shadow: 0 2px 7px 0 hsla(0,0%,57%,.35);
		display: inline-block;
		vertical-align: top;

		a {
			color: $color__black;
			text-decoration: none;
		}

		.post-thumbnail {
			display: block;
			width: 100%;

			img {
				width: 100%;
			}
		}
	}

	.full-width-ad {
		@include dotted-background;
		min-height: 600px;
		margin: -75px auto;
	}

	.featured {
		display: flex;
		margin: 40px auto 20px;
		width: 100%;

		article:first-of-type {
			display: flex;
			flex: 1 0 70%;
			max-width: 70%;
			margin: 0 10px 0 0;

			.post-thumbnail {
				flex: 1 0 45%;
				max-width: 385px;
				width: 45%;
			}

			.entry-header {
				flex: 1 0 50%;
				padding: 30px;

				h2 {

					a {
						color: $color__text-screen;

						font: {
							family: $font__h1;
							size: 38px;
						};
						&:hover {
							text-decoration: underline;
						}
					}
				}
			}
		}

		article:nth-of-type(2),
		article:nth-of-type(3) {
			flex: 1 0 calc(15% - 20px);
			max-width: calc(15% - 20px);
			margin: 0 10px;
			overflow: hidden;

			h2 {
				padding: 10px;
				word-wrap: break-word;
				a {
					color: $color__black;

					font: {
						family: $font__h1;
						size: 24px;
					};

					&:hover {
						text-decoration: underline;
					}
				}
			}
		}
	}
}