.single-post {
	.site-container {
		margin: 0 auto;
		max-width: 1260px;
		padding-top: 100px;

		article h3 {
			font-size: 30px;
			font-weight: 700;
			line-height: 40px;
		}

		#primary {
			float: left;
			margin-left: 90px;
			padding-right: 80px;
			width: 760px;

			.entry-content {
				p {
					a {
						border-bottom: 1px solid;
						color: $color__black;
						text-decoration: none;
					}
				}
			}

			.entry-header {
				.dek h2 {
					font-size: 22px;
					font-weight: 500;
					line-height: 32px;
					margin-bottom: 35px;
				}
			}

			.entry-title {
				font: {
					family: $font__h1;
					size: 46px;
					weight: 700;
				};
				line-height: 56px;
				margin-bottom: 20px;
			}

			.entry-meta {
				.posted-on {
					display: none;
				}

				.byline {
					a {
						color: #0a4e9b;
						font: {
							size: 18px;
							style: italic;
						};
					}
				}
			}
		}

		// Single Post Sidebar
		#secondary {
			float: left;
			width: 330px;
		}
	}
}

