* {
	font-size: 18px;
	line-height: 29px;
	color: #444444;
}

.pure-g {
	letter-spacing: normal;
}

a {
	color: #8E6900;
	text-decoration: none;
}

h1, h2, h3, h4, h5 {
	margin: 10px auto;
	a {
		color: #444444;
	}
}

h1, h1 * {
	font-family: "Lato", "Open Sans", Arial, Helvetica, sans-serif;
	font-size: 46px;
	line-height: 56px;
	margin: 0;
}

h2, h2 * {
	font-size: 38px;
	line-height: 48px;
	font-family: "Amboy Black", Lato, Open Sans, Arial, Helvetica, sans-serif;
}

h3, h3 * {
	font-size: 30px;
	line-height: 40px;
}

h4, h4 * {
	font-family: "Open Sans",Arial,Helvetica,sans-serif;
	font-size: 24px;
	line-height: 25px;
}

h5, h5 * {
	font-size: 20px;
	line-height: 25px;
}

img {
	max-width: 100%;
	width: 100%;
	height: auto;
}

.newsletter-sign-below-header.hide-on-mobile {
	@include dotted-background;
	text-align: center;

	.nl-right-arrow {
		width: 50px;
		height: 24px;
		margin-top: 1px;
		margin-left: -5px;
	}

	.nl-signup-link {

	a {
		text-decoration: none;
		color: #ffc10e;
	}

	h4 {
		color: #ffc10e;
		display: inline-flex;
		font-weight: 100;
		}
	}
}

.hero-container img {
	height: 100%;
}

.advertisement {
	margin: 30px 0;
	text-align: center;
}

.newsletter-signup-form {
	text-align: center;
	padding: 100px 0;
	background: aliceblue;
	box-shadow: 0 2px 7px 0 hsla(0,0%,57%,.35);
	margin: 10px 0;
}
.sidebar {
	position: sticky;
	text-align: center;
	top: 56px;
}

.full-width-ad {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	position: relative;
	z-index: 1;

	&:not(.prearticle) {
		@include dotted-background;
		min-height: 600px;
		margin: -75px auto;
	}

	&.prearticle {
		min-height: 300px;
	}
}

.social-menu li {
	margin-bottom: 2.3em;
}

.social-menu li a {
	box-shadow: 0 1px 3px #7e7e7e;
	border-radius: 50%;
	padding: 1.0em 0.9em 0.9em 0.9em;
	display: inline;

	img {
		width: 20px;
		height: 20px;
	}
}

.social-menu-mobile {
	display: none;
}

.social-menu-desktop,
.social-menu-mobile {
	text-align: center;
}

.post-category-label {
	border-bottom: none !important;
	color: $color__link !important;
	font-size: 16px;
	font-weight: 600;
	text-decoration: none;
	text-transform: uppercase;
}

.in-content-nl-container {
	background-color: #fff;
	box-shadow: 0 0 8px 1px hsla(0,0%,53%,.25);
	margin-bottom: 40px;
	position: relative;
	text-align: center;

	.newsletter {
		padding: 20px;
		h3 {
			font-family: "Lato", "Open Sans", Arial, Helvetica, sans-serif !important;
			font-size: 32px;
			font-weight: 700;
			margin-bottom: 5px;
		}
	}

	.newsletter form {
		display: flex;
		margin: 10px 10%;
		max-width: 80%;

		input {
			border-radius: 0;
			font-size: 20px;
			padding: 10px;
			width: 70%;
		}

		button {
			background-color: #ffc10e;
			border: 0;
			color: #000;
			font-size: 17px;
			padding: 0;
			text-transform: uppercase;
			transition: background .3s;
			width: 30%;
		}
	}

	.diyu-logo {
		background-color: #999;
		padding: 20px;
	}
}

@media only screen and (max-width: 567px) {
	.social-menu-mobile {
		display: block;
	}

	.social-menu-desktop {
		display: none;
	}

	.social-menu-mobile li a {
		box-shadow: 0 1px 3px $color__box-shadow;
		border-radius: 50%;
		padding: 0.9em 0.8em 0.8em 0.8em;
		text-align: center;
		display: inline;

		img {
			width: 20px;
			height: 20px;
		}
	}

	.social-menu-mobile li {
		display: inline-block;
		margin: 20px;
	}
}

@media only screen and (min-width: 768px) and (max-width: 1279px) {
	.social-menu li a {
		margin: auto;
	}
}
