/* archive content */
.archive-page {
	position: relative;
	z-index: 0;

	ul {
		padding-left: 0;
		list-style-type: none;
	}

	.breadcrumbs, .breadcrumbs a {
		font-weight: 600;
		text-decoration: none;
	}
	.archive-headings {
		text-align: center;
		width: 100%;
	}

	.hero-container {
		box-shadow: 0 2px 7px 0 hsla(0,0%,57%,.35);
		margin: 10px;
		margin-bottom: 10px;

		.hero-text {
			padding: 0 30px;
		}
	}

	.archive-content {
		margin: 0 auto;
		max-width: $size__site-max-width;
		position: relative;
		z-index: 3;
	}

	.featured-posts {
		display: flex;
		margin: 0 5px;
	}

	.featured-container {
		background: $color__white;
		box-shadow: 0 2px 7px 0 hsla(0,0%,57%,.35);
		width: calc(33% - 10px);
		margin: 0 5px;
	}

	.recipes {
		margin: 10px;
	}

	.single-recipe {
		margin: 5px;
		box-shadow: 0 2px 7px 0 hsla(0,0%,57%,.35);
		height: 100%;
		background: $color__white;
	}

	.recipe-content {
		padding-left: 10px;
		text-overflow: ellipsis;
	}

	.full-width-nl {
		height: 450px;
		margin: -75px 0;

		.nl-container {
			display: block;
			margin: 0 auto ;
			padding-top: 100px;
			width: 740px;

			.newsletter {
				text-align: center;

				h3 {
					font-family: $font__h1;
					font-size: 32px;
					font-weight: 700;
					margin-bottom: 25px;
				}

				form {
					width: 100%;

					input {
						background-color: #fff;
						border: 1px solid #ddd;
						border-right: 0;
						color: #333;
						float: left;
						font-family: $font__main;
						font-size: 16px;
						font-weight: 300;
						padding: 14px 16px 13px;
						width: 76%;
					}

					button {
						background-color: #ffc10e;
						color: #000;
						font-family: $font__main;
						float: left;
						padding: 10px 15px;
						text-transform: uppercase;
						transition: background .3s;
						width: 19%;
					}
				}
			}

			.diyu-logo {
				margin-top: 100px;
				text-align: center;
			}
		}
	}

	.pagination {
		padding: 40px 0;
		text-align: center;
		width: 100%;

		.page-numbers {
			background: #000;
			color: #fff;
			padding: 10px;
		}
	}
}

@media screen and (max-width: 567px) {
	.archive-page {
		.hero-container {
			.hero-text {
				padding: 0 10px;
			}
		}

		.featured-container {
			flex: 1 0 calc(80% - 10px);
		}

		.featured-posts {
			overflow-x: scroll;
		}
	}
}