// @import "../layout/content-sidebar";
// @import "../layout/sidebar-content";

/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
@import "primary/posts-and-pages";
@import "primary/homepage";
@import "primary/single";
@import "primary/footer";
@import "primary/header";

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
@import "primary/comments";

.site-branding {
	@include site-center;
	margin: 1em auto;
}