$color__black: #000;
$color__white: #fff;
$color__accent: #ffc10e;
$color__link: #8e6900;

$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: $color__accent;
$color__background-button-hover: #daa200;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #444;
$color__text-input: #444;
$color__text-input-focus: #444;

$color__link-visited: $color__link;
$color__link-hover: $color__link;
$color__text-main: #404040;

$color__border-button: transparent;
$color__border-button-hover: transparent;
$color__border-button-focus: transparent;
$color__border-input: #ccc;
$color__border-abbr: #666;
