.footer {
	background: $color__background-footer;
	padding-bottom: 40px;
	text-align: center;

	* {
		color: $color__text-footer;
	}

	h4 {
		font-size: 32px;
	}

	h5 {
		font-size: 20px;
	}

	.container {
		max-width: $size__site-max-width;
		margin: 0 auto;
	}

	ul {
		padding-left: 0;
		list-style-type: none;
		margin-left: 0;

		li {
			a{
				color: $color__text-footer;
			}
		}
	}

	.newsletter {
		padding: 15px 20px;

		img {
			width : 150px;
		}

		h4{
			line-height: 50px;
		}
	}

	.newsletter-cta-description {
		padding: 20px 0;
		font-weight: bold;
		&:after {
			border-bottom: 1px solid $color__grey;
			content: "";
			display: block;
			margin: 0 auto;
			padding-top: 20px;
			width: 45px;
		}
	}

	.newsletter form {
		display: flex;

		input {
			border-radius: 0;
			font-size: 20px;
			padding: 10px;
			width: 70%;
		}

		button {
			background-color: $color__accent;
			border: 0;
			color: $color__black;
			font-size: 17px;
			padding: 0;
			text-transform: uppercase;
			width: 30%;
		}
	}

	.site-links {
		ul{
			columns: 2;
			-webkit-columns: 2;
			-moz-columns: 2;
			margin-bottom: 10px;
			margin-top: 0;
			padding-left: 0;

			li {
				display: inline-block;
				font-size: 18px;
				list-style-type: none;
				padding: 10px
			}
		}
	}

	.footer-brand-links {
		display: inline-block;
		p {
			display: inline-block;
			font-size: 14px;
			font-weight: 600;
			text-transform: uppercase;
		}

		ul {
			li{
				display: inline-block;
				font-size: 12px;
				padding: 5px;

				a{
					color: $color__accent;
					font-size: 12px;
					font-weight: 600;
				}

				&:not(:last-child):after {
					border-right: 1px solid $color__accent;
					content: "";
					padding-left: 10px;
				}
			}
		}
	}

	#menu-footer-global-links {
		margin-top: 0;
		li {
			display: inline-block;
			font-size: 12px;
			padding: 5px;

			a {
				font-size: 12px;
			}

			&:not(:last-child):after {
				border-right: 1px solid $color__text-footer;
				content: "";
				padding-left: 10px;
			}

			&.privacy-policy {
				a {
					color: $color__link-privacy-policy-footer;
				}
			}
		}
	}

	.copyright {
		font-size:12px;
	}

	.newsletter-desktop {
		padding-top: 30px;
		text-align: center;
		.newsletter-signup-content-widget__footer {
			display: flex;
			max-width: 300px;
			margin: 0 auto;

			.newsletter-signup-content-widget__subscribe-link {
				img {
					max-width: 53px;
					padding-left: 40px;
					margin-left: 20px;
					border-left: 2px solid $color__grey;
				}
			}
		}
	}
	.footer-logo {
		background-image: url("images/cpt-footer-logo.png");
		background-size: 100% 100%;
		display: block;
		height: 100px;
		margin-bottom: 40px;
		width: 100px;
	}
	#menu-footer-social-links {
		li {
			display : inline-block;
			padding : 0 10px;
		}
	}
}
/*ipad + screens */
@media screen and (min-width:568px) {
	.footer {
		padding-top: 40px;
		text-align: left;

		.container {
			padding: 20px;
		}

		.desktop-hide-footer {
			display : none !important;
		}

		.newsletter {
			padding: 0 35px;

			h4 {
				margin-top: 0;
			}

			form {
				button {
					width: 35%;
				}
			}
		}

		.footer-left-top {
			padding-bottom: 20px;
		}

		.border-right {
			border-right: 8px solid hsla(80,2%,61%,.2);
		}
	}
}

@media screen and (max-width:567px) {
	.footer {
		.mobile-hide-footer {
			display : none !important;
		}

		.site-links {
			border-top: 8px solid hsla(80,2%,61%,.2);
			border-bottom: 8px solid hsla(80,2%,61%,.2);
			padding: 30px 20px;
		}

		.footer-brand-links ul, .footer-global-links {
			padding: 0 10px;
		}

		.footer-brand-links {
			p {
				margin-bottom: 0;
			}

			ul.footer-brand-links {
				margin-top: 0;
			}
		}
	}
}

@media screen and (min-width:568px) and (max-width:767px) {
	.footer {
		.newsletter-desktop img {
			max-width : 200px;
		}
	}
}

@media screen and (min-width:768px) and (max-width:1023px) {
	.footer {
		#menu-footer-global-links {
			li {
				padding: 0;
			}
		}
		.footer-brand-links {
			ul li {
				padding: 0;
			}

			& > * {
				margin: 0 auto;
			}
		}
	}
}

@media screen and (max-width:1023px) {
	.footer {
		.ipad-hide {
			display : none;
		}
	}
}