button,
.button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 1px solid;
	border-color: $color__border-button;
	background: $color__background-button;
	color: rgba(0, 0, 0, .8);
	line-height: 1;
	padding: .75em 2em;
	text-transform: uppercase;

	&:hover {
		border-color: $color__border-button-hover;
		background-color: $color__background-button-hover;
	}

	&:active,
	&:focus {
		border-color: $color__border-button-focus;
	}
}
