.page-template {
  .page-content {
    max-width: $size__site-max-width;
    margin: 0 auto;

    .content {
      margin: 0 80px;

      img.size-medium {
        width: 300px;
        height: auto;
      }

      h2{
        i {
          font-size: 38px;
          line-height: 48px;
          font-family: AmboyBlack, Lato,Open Sans,Arial,Helvetica,sans-serif;
        }
      }
    }
  }
}

@media only screen and (max-width: 567px) {
  .page-template {
    .page-content {
      .sidebar {
        display : none;
      }
      .content {
        margin : 0 15px;
      }
    }
  }
}