.header {
  &:after {
    clear: both;
    content: "";
    display: table;
  }

  .content-wrapper {
    width       : 100%;
    margin      : 10px auto;
    display     : flex;
    align-items : center;
  }

  .newsletter-signup-header {
    display         : flex;
    justify-content : flex-end;
  }

  .subscribe-logo {
    width : 180px;
  }

  .header-logo {
    height              : 107px;
    background          : url(images/cpt-header-logo.png) no-repeat;
    background-size     : contain;
    background-position : 55%;
    margin-left: 20px;
  }
  .main-navigation {
    background : #000000;
    clear      : both;
    display    : block;
    float      : left;
    position   : sticky;
    top        : 0;
    width      : 100%;
    display    : flex;

    .menu-desktop-focus-menu-container {
      ul {
        display: inline-flex;
        margin: 0;
        padding-left: 0;

        li {
          list-style-type: none;
          padding : 15px;

          a {
            color   : #ffc10e;
            text-transform: uppercase;
          }
        }
      }

    }

    .pure-menu {
      display : flex;
    }

    a {
      font-weight: normal;
    }
  }

  .hamburger-wrapper {
    display : flex;
  }

  .hamburger-menu {
    width            : 30px;
    height           : 2px;
    background-color : #ffc10e;
    margin           : 6px 0;
  }

  .hamburger {
    padding : 10px 20px 0 20px;

    &:hover {
      cursor : pointer;
    }
  }

  .menu-text {
    color        : #ffc10e;
    padding      : 16px 20px 0 0;
    border-right : 1px solid;
  }

  .search-button {
    background-image    : url(images/search-icon-light.svg);
    background-size     : 18px 18px;
    background-repeat   : no-repeat;
    background-position : 50%;
    width               : 40px;
    height              : 40px;
    background-color    : transparent;
    color               : black;
    vertical-align      : middle;
    border              : none;
  }

  .search-form {
    display      : flex;
    position     : static;
    top          : auto;
    right        : 27px;
    margin-left  : auto;
    margin-right : 30px;

    fieldset {
      margin-top: 4px;
      padding : 5px 0 5px 0;
    }
  }
}
/*
 till tablet sizes styles
*/
@media (max-width : 767px) {
  .header {
    .mobile-hide {
      display : none;
    }

    .header-logo {
      margin : 0 70px;
    }

    .hamburger-mobile {
      .hamburger {
        > .hamburger-menu {
          background-color : #000000;
        }
      }
    }

    .search-mobile {
      .search-button {
        background-image : url(images/search-icon.svg);
      }
    }

    .header-logo {
      height : 60px;
    }
  }
}

@media (min-width : 767px) {
  .header .desktop-hide {
    display : none;
  }
}

@media screen and (max-width: 567px){
  .header .main-navigation .menu-desktop-focus-menu-container {
    ul {
      li {
        padding : 13px;
      }
    }
  }
}

@media screen and (min-width: 768px) and  (max-width: 1023px){
  .header {
    .search-form.mobile-hide {
      input {
        max-width : 160px;
      }
    }
  }
}

@media screen and (max-width: 376px) {
  .header {
    #menu-desktop-focus-menu {
      li {
        padding : 8px;
        a {
          font-size : 16px;
        }
      }
    }
  }
}